<mat-toolbar color="primary">
  <mat-toolbar-row>
    <span>Axia Reddit</span>
    <span class="example-spacer"></span>
  </mat-form-field>
  </mat-toolbar-row>

  <!-- --------------------------------------------------------- -->















      <!-- <button mat-icon-button [matMenuTriggerFor]="menu">
      <mat-icon>menu</mat-icon>
    </button>
    <mat-menu #menu="matMenu">

      <button mat-menu-item value="all">
        <span >La mamma di Andre </span>
      </button>

      <button mat-menu-item value="art">
        <span >Manga</span>
      </button>

      <button mat-menu-item value="manga">
        <span>Overwatch</span>
      </button>
    </mat-menu> -->
