<mat-toolbar color="primary">

  <mat-toolbar-row>
    <span class="title-toolbar">Angular Reddit</span>

    <span class="spacer"></span>

    <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
      <mat-icon>menu</mat-icon>
    </button>

    <mat-form-field>
      <mat-label class="select-menu">Choose Argument</mat-label>
      <mat-select [(ngModel)]="selectedArgument" (ngModelChange)="loadPosts()">
        <mat-option value="all">Tutti</mat-option>
        <mat-option value="Overwatch">Overwatch</mat-option>
        <mat-option value="spacex">SpaceX</mat-option>
        <mat-option value="minecraft">Minecraft</mat-option>
        <mat-option value="pokemon">Pokemon</mat-option>
        <mat-option value="pics">Reddit Pics</mat-option>

      </mat-select>
    </mat-form-field>

    <button mat-icon-button (click)="changeThemes()">
      <mat-icon>{{isLight ? "dark_mode" : "light_mode"}}</mat-icon>
    </button>

  </mat-toolbar-row>
</mat-toolbar>


  <app-card *ngFor="let post of posts" [post]="post"></app-card>


<!-- --------------------------------------------------------- -->
<!-- <div class="card-container">
  <div *ngFor="let post of posts">
    <mat-card class="card">

      <mat-card-header>
        <div mat-card-avatar class="header-image"></div>
        <mat-card-subtitle> {{post.author}} </mat-card-subtitle>
        <mat-card-title>{{post.title}}</mat-card-title>
      </mat-card-header>

      <img mat-card-image src="{{post?.thumbnail}}" class="card-img" alt="">

      <mat-card-content>
        <p>{{post.selftext}} </p>
      </mat-card-content>

      <mat-card-actions>
        <button mat-button><a href="{{post.url}}" target="_blank" rel="URL">URL</a></button>
        <button mat-button><a href="http://reddit.com{{post.permalink}}" target="_blank"
            rel="PERMALINK">PERMALINK</a></button>
      </mat-card-actions>
    </mat-card>

  </div>
</div> -->
<!-- --------------------------------------------------------- -->
