<mat-toolbar color="primary">
  <mat-toolbar-row>
    <span>Axia Reddit</span>
    <span class="example-spacer"></span>

  <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
    <mat-icon>menu</mat-icon>
  </button>
  <mat-menu #menu="matMenu">
    <button mat-menu-item>
      <!-- <mat-icon>dialpad</mat-icon> -->
      <span>La mamma di Andre </span>
    </button>
    <button mat-menu-item>
      <mat-icon>dot</mat-icon>
      <span>Manga</span>
    </button>
    <button mat-menu-item>
      <!-- <mat-icon>notifications_off</mat-icon> -->
      <span>Overwatch</span>
    </button>
  </mat-menu>
</mat-toolbar-row>

<!-- --------------------------------------------------------- -->
